<ion-header>
  <ion-toolbar>    
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #formulario="ngForm" [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" name="email"></ion-input>
    </ion-item>
    <ion-item 
      *ngIf="loginForm.get('email').invalid && (formulario.submitted || loginForm.get('email').touched)">
      <ion-label 
        text-wrap 
        position="stacked"
        color="danger">
        E-mail inválido
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input formControlName="senha" name="senha" type="password"></ion-input>
    </ion-item>
    <ion-item 
      *ngIf="loginForm.get('senha').invalid && (formulario.submitted || loginForm.get('senha').touched)">
      <ion-label 
        text-wrap 
        position="stacked"
        color="danger">
        Senha inválida
      </ion-label>
    </ion-item>
    
    <ion-button expand="block" type="submit" (click)="formulario.ngSubmit.emit()">ENTRAR</ion-button>
  </form>
</ion-content>